body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 90%;
    background-color: rgb(241, 240, 249);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px inset;
    padding: 19px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    border-image: initial;
}
.contact-form .form-control{
    border-radius:0rem;
    border: 1px solid silver;
}
.contact-form .form-control:focus{
    border: 1px solid rgb(107, 107, 172);
   background-color: white;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 2%;
}
/* .contact-form form .row{
    margin-bottom: -7%;
} */
.contact-form h3{
    margin-top: -3%;
    text-align: center;
    color: #68a6d8;
}
.contact-form .btnContact { 
    border: none;
    border-radius: 0rem;
    padding: 1.5%;
    width: 40%;
    border-radius: 1.5rem;
    background: rgb(203, 3, 15);
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin-top: 21px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}