<div>
  <div class="container-fluid text-center" style="background-color: rgb(206, 214, 214);">
    <div class="row setHead">
      <div class="col-md-1">
        <img src="../../assets/logo/A2.png" class="setLogo" style="background-color: rebeccapurple">
      </div>
      <div class="col-md-3">
        <div class="setTitle">
          <span class="sp1">India Best Job Portal</span><span class="sp2"> For Ever</span>
        </div>
        <div>
          <span class="spsubtitle">Get Best Job And Make A Bright Future.</span><span class="smTitle">Must Visit Here</span>
        </div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
          <img src="../../assets/socialcons/facebook_header.png" class="socialItem">
          <img src="../../assets/socialcons/twitter_header.png" class="socialItem">
          <img src="../../assets/socialcons/youtube_header.png" class="socialItem">
          <img src="../../assets/socialcons/linkedin_header.png" class="socialItem">
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="background">
        <nav class="navbar navbar-expand-md bg-darks navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="navitem">
                <a class="navlink" style="color: whitesmoke;cursor: pointer;">About Us </a>
              </li>
              <li class="navitem">
                <a class="navlink" style="color: whitesmoke;cursor: pointer;">Services</a>
              </li>
              <li class="navitem">
                <a class="navlink" style="color: whitesmoke;cursor: pointer;">Job Seekers</a>
              </li>
              <li class="navitem">
                <a class="navlink" style="color: whitesmoke;cursor: pointer;">Join &nbsp;Us</a>
              </li>
              <li class="navitem">
                <a class="navlink" style="color: whitesmoke;cursor: pointer;">Contact</a>
              </li>
            </ul>
            <form class="form-inline">
              <ul class="navbar-nav">
                <i *ngIf="isLog" class="navitem fa fa-user stlset"  title="Log In" (click)="login()"></i>&nbsp;&nbsp;&nbsp; 
                <i *ngIf="isLogOut" class="navitem fa fa-sign-out stlset"  title="Log Out" (click)="logOut()"></i>&nbsp;&nbsp;&nbsp;
              </ul>
            </form>
          </div>

         </nav>
      </div>
    </div>
  </div>
</div>
