<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/banner/banner4 (3).jpg" alt="Los Angeles"  >
      <div class="carousel-caption">
        <h3 style="color: rgb(250, 34, 88); text-shadow: 2px 2px black;">Los Angeles</h3>
        <p style="color: rgb(250, 34, 88);">We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../../assets/banner/banner4 (2).jpg" alt="Chicago"  >
      <div class="carousel-caption">
        <h3 style="color: rgb(250, 34, 88); text-shadow: 2px 2px black;">Chicago</h3>
        <p style="color: rgb(250, 34, 88);">Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../../assets/banner/banner2.jpg" alt="New York"  >
      <div class="carousel-caption">
        <h3 style="color: rgb(250, 34, 88); text-shadow: 2px 2px  black;">New York</h3>
        <p style="color: rgb(250, 34, 88);">We love the Big Apple!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../../assets/banner/banner1.jpg" alt="New York"  >
      <div class="carousel-caption">
        <h3 style="color: rgb(250, 34, 88); text-shadow: 2px 4px black;">New York</h3>
        <p style="color: rgb(250, 34, 88); ">We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a> -->
</div>